body{
    margin: 0;
    background: radial-gradient(circle, #000 60%, #020024);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Solar System Container */
.solar-system {
    position: relative;
    width: 800px;
    height: 800px;
}

/* Sun */
.sun {
    position: absolute;
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, yellow, orange, red);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 60px orange;
}

/* Orbit */
.orbit {
    position: absolute;
    border: 1px dashed rgba(255,255,255,0.3);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate linear infinite;
}

/* Planet */
.planet {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

/* Individual Planets */
.mercury {
    width: 120px;
    height: 120px;
    animation-duration: 4s;
}
.mercury .planet {
    width: 8px;
    height: 8px;
    background: gray;
}

.venus {
    width: 180px;
    height: 180px;
    animation-duration: 7s;
}
.venus .planet {
    width: 12px;
    height: 12px;
    background: orange;
}

.earth {
    width: 250px;
    heig: 250px;
    animation-duration: 10s;
}
.earth .planet {
    width: 14px;
    height: 14px;
    background: blue;
}

.mars {
    width: 320px;
    height: 320px;
    animation-duration: 15s;
}
.mars .planet {
    width: 10px;
    height: 10px;
    background: red;
}

.jupiter {
    width: 420px;
    height: 420px;
    animation-duration: 20s;
}
.jupiter .planet {
    width: 24px;
    height: 24px;
    background: #c9a26b;
}

.saturn {
    width: 520px;
    height: 520px;
    animation-duration: 25s;
}
.saturn .planet {
    width: 22px;
    height: 22px;
    background: #deb887;
}

.uranus {
    width: 620px;
    height: 620px;
    animation-duration: 30s;
}
.uranus .planet {
    width: 18px;
    height: 18px;
    background: lightblue;
}

.neptune {
    width: 720px;
    height: 720px;
    animation-duration: 35s;
}
.neptune .planet {
    width: 18px;
    height: 18px;
    background: blueviolet;
}

/* Animation */
@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}